//上下浮动
@-moz-keyframes scroll-down-effect {
  0% {
    top: 0;
    opacity: .4
  }
  50% {
    top: -16px;
    opacity: 1;
    -ms-filter: none;
    filter: none
  }
  100% {
    top: 0;
    opacity: .4
  }
}
@-webkit-keyframes scroll-down-effect {
  0% {
    top: 0;
    opacity: .4
  }
  50% {
    top: -16px;
    opacity: 1;
    -ms-filter: none;
    filter: none
  }
  100% {
    top: 0;
    opacity: .4
  }
}
@-o-keyframes scroll-down-effect {
  0% {
    top: 0;
    opacity: .4
  }
  50% {
    top: -16px;
    opacity: 1;
    -ms-filter: none;
    filter: none
  }
  100% {
    top: 0;
    opacity: .4
  }
}
@keyframes scroll-down-effect {
  0% {
    top: 0;
    opacity: .4
  }
  50% {
    top: -16px;
    opacity: 1;
    -ms-filter: none;
    filter: none
  }
  100% {
    top: 0;
    opacity: .4
  }
}

//打赏
@-webkit-keyframes dropDown {
  0% {
    -webkit-transform: translateY(-100vh);
    transform: translateY(-100vh)
  }

  15% {
    -webkit-transform: translateY(0);
    transform: translateY(0)
  }

  30% {
    -webkit-transform: translateY(-3vh);
    transform: translateY(-3vh)
  }

  45% {
    -webkit-transform: translateY(0);
    transform: translateY(0)
  }

  60% {
    -webkit-transform: translateY(-1.5vh);
    transform: translateY(-1.5vh)
  }

  75% {
    -webkit-transform: translateY(0);
    transform: translateY(0)
  }

  90% {
    -webkit-transform: translateY(-.75vh);
    transform: translateY(-.75vh)
  }

  to {
    -webkit-transform: translateY(0);
    transform: translateY(0)
  }
}
@keyframes dropDown {
  0% {
    -webkit-transform: translateY(-100vh);
    transform: translateY(-100vh)
  }

  15% {
    -webkit-transform: translateY(0);
    transform: translateY(0)
  }

  30% {
    -webkit-transform: translateY(-3vh);
    transform: translateY(-3vh)
  }

  45% {
    -webkit-transform: translateY(0);
    transform: translateY(0)
  }

  60% {
    -webkit-transform: translateY(-1.5vh);
    transform: translateY(-1.5vh)
  }

  75% {
    -webkit-transform: translateY(0);
    transform: translateY(0)
  }

  90% {
    -webkit-transform: translateY(-.75vh);
    transform: translateY(-.75vh)
  }

  to {
    -webkit-transform: translateY(0);
    transform: translateY(0)
  }
}
@-webkit-keyframes dropWave {
  0% {
    -webkit-transform: rotateY(45deg);
    transform: rotateY(45deg)
  }

  15% {
    -webkit-transform: rotateY(-5deg);
    transform: rotateY(-5deg)
  }

  30% {
    -webkit-transform: rotateY(5deg);
    transform: rotateY(5deg)
  }

  45% {
    -webkit-transform: rotateY(-2.5deg);
    transform: rotateY(-2.5deg)
  }

  60% {
    -webkit-transform: rotateY(2.5deg);
    transform: rotateY(2.5deg)
  }

  75% {
    -webkit-transform: rotateY(-1.25deg);
    transform: rotateY(-1.25deg)
  }

  90% {
    -webkit-transform: rotateY(1.25deg);
    transform: rotateY(1.25deg)
  }

  to {
    -webkit-transform: rotateY(0deg);
    transform: rotateY(0deg)
  }
}
@keyframes dropWave {
  0% {
    -webkit-transform: rotateY(45deg);
    transform: rotateY(45deg)
  }

  15% {
    -webkit-transform: rotateY(-5deg);
    transform: rotateY(-5deg)
  }

  30% {
    -webkit-transform: rotateY(5deg);
    transform: rotateY(5deg)
  }

  45% {
    -webkit-transform: rotateY(-2.5deg);
    transform: rotateY(-2.5deg)
  }

  60% {
    -webkit-transform: rotateY(2.5deg);
    transform: rotateY(2.5deg)
  }

  75% {
    -webkit-transform: rotateY(-1.25deg);
    transform: rotateY(-1.25deg)
  }

  90% {
    -webkit-transform: rotateY(1.25deg);
    transform: rotateY(1.25deg)
  }

  to {
    -webkit-transform: rotateY(0deg);
    transform: rotateY(0deg)
  }
}
@-webkit-keyframes zoomIn {
  0% {
    opacity: 0;
    -webkit-transform: scale(0);
    transform: scale(0)
  }

  to {
    opacity: 1;
    -webkit-transform: scale(1);
    transform: scale(1)
  }
}
@keyframes zoomIn {
  0% {
    opacity: 0;
    -webkit-transform: scale(0);
    transform: scale(0)
  }

  to {
    opacity: 1;
    -webkit-transform: scale(1);
    transform: scale(1)
  }
}

//contact 爱心飘
@-webkit-keyframes slideUp {
  0% {
    top: 0;
  }
  100% {
    top: -600px;
  }
}
@keyframes slideUp {
  0% {
    top: 0;
  }
  100% {
    top: -600px;
  }
}
@-webkit-keyframes sideSway {
  0% {
    margin-left: 0;
  }
  100% {
    margin-left: 50px;
  }
}
@keyframes sideSway {
  0% {
    margin-left: 0;
  }
  100% {
    margin-left: 50px;
  }
}

// header
@keyframes fadeIn {
  to {
    opacity: 1;
    transform: scale(1);
  }
}
@keyframes slideLeft {
  to {
    left: -6%;
    opacity: 1;
    transform: scale(0.9);
  }
}
@keyframes slideRight {
  to {
    right: -6%;
    opacity: 1;
    transform: scale(0.9);
  }
}

// 呼吸灯
@keyframes light {
  0% {
    box-shadow: 0 0 4px #f00;
  }

  25% {
    box-shadow: 0 0 16px #0f0;
  }

  50% {
    box-shadow: 0 0 4px #00f;
  }

  75% {
    box-shadow: 0 0 16px #0f0;
  }

  100% {
    box-shadow: 0 0 4px #f00;
  }
}

// 渐变
@keyframes gradientBG {
  0% {
    background-position: 0 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0 50%;
  }
}

// CW === Clockwise
@-webkit-keyframes CW {
  0% {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg)
  }

  to {
    -webkit-transform: rotate(1turn);
    transform: rotate(1turn)
  }
}
@keyframes CW {
  0% {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg)
  }

  to {
    -webkit-transform: rotate(1turn);
    transform: rotate(1turn)
  }
}

// IH === Inverted Hour
@-webkit-keyframes IH {
  0% {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg)
  }

  to {
    -webkit-transform: rotate(-360deg);
    transform: rotate(-360deg)
  }
}
@keyframes IH {
  0% {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg)
  }

  to {
    -webkit-transform: rotate(-360deg);
    transform: rotate(-360deg)
  }
}
@-webkit-keyframes swing {
  20% {
    -webkit-transform: rotate(15deg);
    transform: rotate(15deg)
  }
  40% {
    -webkit-transform: rotate(-10deg);
    transform: rotate(-10deg)
  }
  60% {
    -webkit-transform: rotate(5deg);
    transform: rotate(5deg)
  }
  80% {
    -webkit-transform: rotate(-5deg);
    transform: rotate(-5deg)
  }
  to {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg)
  }
}
@keyframes swing {
  20% {
    -webkit-transform: rotate(15deg);
    transform: rotate(15deg)
  }
  40% {
    -webkit-transform: rotate(-10deg);
    transform: rotate(-10deg)
  }
  60% {
    -webkit-transform: rotate(5deg);
    transform: rotate(5deg)
  }
  80% {
    -webkit-transform: rotate(-5deg);
    transform: rotate(-5deg)
  }
  to {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg)
  }
}
