<header id="header">
    <% if(theme.header_animation){ %>
        <canvas id="cvs" class="hidden" width="1980" height="1080"></canvas>
        <canvas id="screenImage" class="hidden" width="234" height="357"></canvas>
        <canvas id="rili" class="hidden" width="600" height="600"></canvas>
        <canvas id="display"></canvas>
        <script type="application/javascript" src="https://image.lichongbing.com/docs/calendar.js"></script>
    <% } %>
    <div id="scroll-down">
        <a href="#main_wrap" aria-label="阅读全文">
            <i class="fas fa-angle-down scroll-down-effects"></i>
        </a>
    </div>
</header>
