<%# 加载动画 %>
<% if(theme.loading){ %>
    <div id="loading">
        <div class="loader">
            <div class="face">
                <div class="circle"></div>
            </div>
            <div class="face">
                <div class="circle"></div>
            </div>
        </div>
    </div>
<% } %>
