<div class="page_title">
    <i class="fas fa-cloud" style="color: deepskyblue"></i>
    <%= page.title %>
</div>
<div class="yy_box">
    <p id="poem">我们都是阴沟里的虫子,但总还是得有人仰望星空。  “ 三体 ” </p>
</div>
<div class="tag_content">
    <%- cloud_tags({source: site.tags, minfontsize: 1.2, maxfontsize: 1.6, limit: 0, unit: 'em'}) %>
</div>