header
  position relative
  display flex
  align-items center
  height 60vh
  padding 0
  border 0
  overflow hidden
  z-index 2

  #scroll-down
    position absolute
    bottom 10%
    width 100%
    cursor pointer
    font-size 30px
    text-align center
    text-shadow .1rem .1rem .2rem rgba(0, 0, 0, .15)
    line-height 1.5
    user-select none
    display none

    .scroll-down-effects
      position relative
      width 100%
      font-size 30px
      text-align center
      text-shadow .1rem .1rem .2rem rgba(0, 0, 0, .15)
      line-height 1.5
      -webkit-animation scroll-down-effect 1.5s infinite
      -moz-animation scroll-down-effect 1.5s infinite
      -o-animation scroll-down-effect 1.5s infinite
      -ms-animation scroll-down-effect 1.5s infinite
      animation scroll-down-effect 1.5s infinite