.pagination
  padding-top 30px
  text-align center
  color #666
  font-size 14px
  width 100%
  display inline-block

  .fa-angle-right, .fa-angle-left
    font-size 14px
    line-height unset

  .prev, .next
    display inline-block
    width 38px
    line-height 38px
    height 38px
    padding 0
    background-color #000
    border-radius 50%
    color #fff
    font-size 0

  .prev
    float left
    margin-left 30px

  .next
    float right
    margin-right 30px

  .disable
    background-color rgb(204, 204, 204) !important
    cursor not-allowed

  .page-number
    min-width 10rem
    min-height 38px
    font-size 1.5rem
    user-select none
