// First Contentful Paint
@import 'var'
@import 'layout'
@import '_global/nav'
@import '_global/header'
@import '_global/grid'
@import '_partial/animation'
@import '_global/rightside'
@import '_global/pagination'
@import '_global/footer'
