<%# 首页公告 %>
<% if(theme.notice.style1){ %>
    <div class="notices">
        <div class="textsst">
            <center>📝 公告 <img src="http://lcbupayun.test.upcdn.net/detail/love.png" alt="Welcome"></center>
            <br>
            <p>时间管理统计App开发第阶段完成，ios15以上</p>
            <a href="https://testflight.apple.com/join/F8hVrLzs">公测地址</a>
        </div>
    </div>
<% } %>
<% if(theme.notice.style2) { %>
    <section class="main-group">
        <div class="textsst">
            <center>📝 公告 <img src="http://lcbupayun.test.upcdn.net/detail/love.png" alt="Welcome"></center>
            <br>
            <p>时间管理统计App开发第阶段完成，ios15以上</p>
            <a href="https://testflight.apple.com/join/F8hVrLzs">公测地址</a>
        </div>
    </section>
<% } %>
